* {
  margin: 0;
  padding: 0;
}

.barra-lateral {
  background-color: #673AB7;
  /* Roxo Profundo */
  width: 150px;
  height: 100vh;
}

.barra-lateral ul {
  list-style-type: none;
  /* Remove os marcadores da lista */
  padding: 0;
  /* Remove o padding padrão */
  margin: 0;
  /* Remove a margem padrão */
}

.barra-lateral li {
  padding: 10px;
  /* Espaçamento interno opcional */
}

.barra-lateral a {
  text-decoration: none;
  /* Remove o sublinhado */
  color: #FFFFFF;
  /* Cor do texto */
}

.barra-lateral a:hover {
  text-decoration: underline;
  /* Opcional: sublinhar ao passar o mouse */
}